@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Righteous&display=swap");

body {
  font-family: "Inter", sans-serif !important;
}
.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menus {
  @apply inline-block min-h-full text-sm hover:after:block hover:after:content-[''] after:absolute after:h-[4px] hover:after:bg-primary-800 hover:after:w-full hover:after:left-0 hover:after:bottom-0 hover:text-divider-500;
}
.shadow-box {
  box-shadow: 0px 4px 10px 0px rgba(181, 181, 181, 0.1);
}
.box-menu-shadow {
  @apply shadow-box;
}
.shadow-popular {
  box-shadow: 0px 8px 50px 0px rgba(186, 186, 186, 0.2);
}
.shadow-popular-box {
  @apply shadow-popular;
}
.check-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 4.60784L4.49165 8.25248C4.88309 8.66107 5.53529 8.66377 5.9301 8.25843L13 1' stroke='white'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center center;
  backgorund-size: contain;
}
.categories-checkbox {
  @apply appearance-none rounded h-5 w-5 cursor-pointer border border-solid bg-primary-0 border-primary-800 focus:ring-primary-800 outline-none focus:ring-0 checked:bg-primary-800 checked:border-primary-800 check-icon text-primary-800 check-icon;
}

.button-hover-effect {
  @apply active:scale-90 transition-all duration-300;
}
