@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Righteous&display=swap");

body {
  font-family: "Inter", sans-serif !important;
}
.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menus {
  @apply inline-block min-h-full text-sm hover:after:block hover:after:content-[''] after:absolute after:h-[4px] hover:after:bg-primary-800 hover:after:w-full hover:after:left-0 hover:after:bottom-0 hover:text-divider-500;
}
.shadow-box {
  box-shadow: 0px 4px 10px 0px rgba(181, 181, 181, 0.1);
}
.box-menu-shadow {
  @apply shadow-box;
}
